<til>Hello There! Welcome to my brief page</til>


<p><%= image_tag("pic.jpg", :alt => "rss feed") %> <p>

<sectil>Name</sectil> 
<p>Xiaocheng Mesut Yang</p>

<sectil>Where I am from</sectil> 
<p>Guangzhou, China</p>


<sectil>What year I am</sectil>
<p>Sophomore</p>

<sectil>Fun fact</sectil>
<p>I like playing soccer.</p>

<sectil>Most excited about</sectil>
<p>Building lit websites lol.</p>


